<!DOCTYPE html>

<html ng-app="RobertoGame" ng-controller="IndexController" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="style/master.css">
    <link rel="stylesheet" href="style/index.css">
    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/indexController.js"></script>

</head>
<body>
    <header>
        <h1>Roberto
        </h1>
        <h3 class="italic">Um game por semana
        </h3>
    </header>
    <nav id="menu">
        <ul>
            <li><a id="aHome" class="selected-menu-item" onclick="openRequiredSection('home');">Home</a></li>
            <li><a id="aGamesList" onclick="openRequiredSection('gamesList');">Ver Lista</a></li>
            <li><a id="aSobre" onclick="openRequiredSection('sobre');">Sobre o blog</a></li>
            <li><a id="aAutor" onclick="openRequiredSection('autor');">Sobre o autor</a></li>
            <li><a id="aFollowMe" onclick="openRequiredSection('followMe')">Follow Me</a></li>
            <li>
                <input type="search" ng-model="gameName" id="txtSearch" placeholder="Buscar jogo..." /></li>
        </ul>
    </nav>
    <section id="home">
        <ul class="games-photos">
            <li ng-repeat="game in games | filter:isName" class="game-photo">
                <a href="{{game.link}}">
                    <img class="image-link" src="{{game.src}}"></a>
            </li>
        </ul>
    </section>
    <section id="gamesList">
        <h2>Games:</h2>
        <ul class="games-list">
            <li ng-repeat="game in games | filter:isName">
                <a href="{{game.link}}">{{game.name}}</a>
            </li>
        </ul>
    </section>
    <section id="sobre">
        <img id="imgWelcome" src="img/bioshock-welcome.png" />
        <div id="divSobreText">
            <p>
                O excesso de jogos lançados hoje em dia e a mudança da abordagem das revistas para acompanhar a velocidade da Internet reduziu a quantidade de análises profundas de games. Hoje este espaço é ocupado por alguns vloggers.
            </p>
            <p>
                Sentindo a necessidade de preparar um material parecido na forma escrita, resolvi começar este projeto e dar a cada game um espaço próprio com análises mais completas do que a correria de hoje permite. Me limitarei a divulgar opiniões sobre acertos, erros e curiosidades de jogos que merecem ser eternos, seja pela sua qualidade ou pela falta dela, afinal, o importante é marcar a mente dos gamers!
            </p>
            <p>
                Não espere notas nem lançamentos da semana, a ideia aqui é apenas não deixar um jogo que não passou em branco ficar assim, muito embora não exista uma data máxima de lançamento ou um status de fama para um jogo entrar aqui. Pode ser o novo GTA como pode ser uma ROM que eu achei por acaso na infinita lista de games do SNES.
            </p>
            <p>
                Dito isto, seja bem-vindo a esta câmara de testes!
            </p>
        </div>
        <div class="divVideo">
            <iframe width="560" height="315" src="//www.youtube.com/embed/h9banEe8rV4" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <section id="autor">
        <h2>Sobre o autor</h2>
        <p>ahfoiahdfi</p>
    </section>
    <section id="followMe">
        <h2>Follow on:</h2>
        <p>facebook</p>
        <p>twitter</p>
    </section>
    <footer>
        <p>Não entendeu? <span class="italic">Clique nas imagens</span> ^^</p>
    </footer>
</body>
</html>
<script type="text/javascript">

</script>
